{%extends 'base.html'%} {%load static%}
<!DOCTYPE html>
<html lang="en">

<body>
    {%block content%}
    <main>
        <section class="hero">
            <h1>UMI</h1>
            <p>Поке нового поколения</p>
        </section>
        <section class="description">
            <p>UMI — это уютный корнер в Петербурге, а также доставка самых свежих поке из премиальных продуктов</p>
        </section>
        <img src="{%static '\IMG\поке.png'%}" alt="Поке" class="poke-img">
    </main>
    {%endblock%}
</body>

</html>